*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
@font-face {
    font-family: Fors;
    src: url(fors.otf);
}
html{
    background-color: black;
}
body{
    background: url(../img/background.png) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    background-attachment:fixed ;
    background-position: right 0px;
}
body{
    font-family: Helvetica, sans-serif;
    max-height: 100vh;
}
main{
    height: 100vh;
    padding: 18% 5%;
}
.heading{
    font-size: 3rem;
    font-weight: bolder;
    font-family: Fors;
}
.subtitle{
    font-size: 22px;
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255,0.8);
    display: inline-flex;
}
.subtitle .static{

    color: rgba(255, 255, 255,0.8);
}
.subtitle .dynamic{
    margin-left: 12px;
    line-height: 25px;
    height: 25px;
    /* background-color: dodgerblue; */
    overflow: hidden;
}
.dynamic li{

    position: relative;
    top: 0;
    animation: slide 6s steps(3) infinite;
}
@keyframes slide{
    100%{
        top: -75px;
    }
}
.subtitle .dynamic li span{
    position: relative;
}
.subtitle .dynamic li span::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    border-left: 5px solid dodgerblue;
    animation: typing 2s steps(17) infinite;
    background-color: black;
}
@keyframes typing {
    100%{
        left:100%;
        margin: 0 -35px 0 35px;
    }
}
.underline{
    color: rgba(255, 255, 255,0.8);
    text-decoration: 4px dodgerblue underline;
    text-underline-offset: 6px;
    /* border-radius: 5px; */
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 20px;
    padding-top: 0;
}

li{
    list-style-type: none;
}
.active{
    color: white;
}
.pages nav ul li .active:hover{
    text-decoration: none;
    border: none;
    width: 100%;
    padding-bottom:0 ;
}
.active::after{
    background-color: dodgerblue;
    width: 40px;
    height: 4px;
    content: "";
    margin-top: 3px;
    border-radius: 5px;
}
.pages a:hover{
    color: white;
    width: 80%;
    padding-bottom: 4px;
    border-bottom: 4px solid dodgerblue;
    border-radius: 2px;
}
li a .bi:hover{
    width: 100%;
}
.social ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding-top: 20px;
}
div ul li a{
    display: grid;
    text-decoration: none;
    color: rgba(100, 100, 100,0.8);
}
.social ul li a {
    background-color: rgba(100, 100, 100,0.5);
    padding: 10px;
    display: grid;
    place-content: center;
    border-radius: 50%;
}

header{
    visibility: hidden;
    position: fixed;
    width: 100%;
}
header{
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px 20px; */
    padding:1rem 2rem;
}
.logo{
    display: grid;
    place-content: center;
    font-family: Fors;
    font-size: 20px;
}
.logo a,a:visited{
    color: rgba(255,255,255);
    text-decoration: none;
    cursor: pointer;
}
.dropdown a:hover{
    color: dodgerblue;
}
.dropdown{
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
}
.contact:hover{
    color: white;
}
.contact{
    padding: 3px 16px;
    background-color: rgba(30, 144, 255,0.3);
    color: white;
    text-decoration: none;
    border-radius: 50px;
    display: grid;
    place-content: center;
    cursor: pointer;
    border: 1px solid dodgerblue;
}

.contact:active{
    scale: 0.95;
}
.contact:hover{
    scale: 1.05;
}
.toggle-button .hamburger{
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}
.toggle-button{
    display: none;
}
.line{
    width: 25px;
    content: "";
    height: 3px;
    border-radius: 5px;
    background-color: white;
}

.dropdown{
    display: none;
    position: absolute;
    right: calc(1.5rem - 4px) ;
    top: 68px;
    width: 300px;
    background:rgba(255,255,255,0.1) ;
    font-weight: 600;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    overflow: hidden;
    height: 0;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown.open{
    /* height: 100%; */
    height: fit-content;
}
.dropdown li{
    padding: 0.7rem;
    display: flex;
    justify-content: center;
}
.dropdown .contact2{
    width: 90%;
}
.hidden{
    display: none;
}
.hyd{
    display: none;
    font-size: 22px;
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255,0.8);
}
.des{
    white-space: nowrap;
    color: rgba(255, 255, 255,0.8);
    display: inline-block;
    padding-bottom: 3px;
    border-bottom: 3px solid dodgerblue;
}

.dropdown .active:hover{
    color: white;
}
@keyframes typing {
    100%{
        left:100%;
    }
}
@media screen and (max-width:576px){
    main{
        display: grid;
        place-content: center;
        padding: 3rem;
        text-align: center;
    }
    header{
        visibility: visible;
    }
    .subtitle{
        text-align: left;
        display: none;
    }
    .social ul{
        justify-content: center;
    }
    /* .social ul{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: fit-content;
    } */
    .toggle-button,.dropdown{
        display: block;
    }
    .contact2{
        font-weight: 600;
    }
    .pages{
        display: none;
    }
    .dynamic{
        display: none;
    }
    .hyd{
        display: inline;
    }
}
